{#
/**
* @file
* Template for the vertical timeline style.
*/
#}

{{ attach_library('vertical_timeline/timeline') }}

<div id="cd-timeline-wrapper" class="cssanimations">
 <section id="cd-timeline" class="cd-container">

  {% for row in rows %}

    <div class="cd-timeline-block">

      <div class="cd-timeline-img {{ row.icon_class }}">
        <img src="{{ row.icon }}" alt="{{ row.icon_alt }}">
      </div>

      <div class="cd-timeline-content">
       {{ row }}
       <span class="cd-date">{{ row.date }}</span>
      </div>

    </div>

  {% endfor %}

  </section>
</div>